/*.bd-placeholder-img {*/
/*    font-size: 1.125rem;*/
/*    text-anchor: middle;*/
/*    -webkit-user-select: none;*/
/*    -moz-user-select: none;*/
/*    -ms-user-select: none;*/
/*    user-select: none;*/
/*}*/

/*@media (min-width: 768px) {*/
/*    .bd-placeholder-img-lg {*/
/*        font-size: 3.5rem;*/
/*    }*/
/*}*/

/*main > .container {*/
/*    padding: 60px 15px 0;*/
/*}*/

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #090f2d !important;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background-image: url(/images/keyboard-low-mobile.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  min-height: 100vh;
}

html {
  background-color: #090f2d !important;
  min-height: 100%;
}

@media (min-width: 1200px) {
  body {
    background-image: url(/images/keyboard-low.jpg);
  }
}

.imageLogo {
  display: block;
  z-index: 1;
  top: 0;
  left: 0;
  position: absolute;
  height: 56px;
}

.command,
a {
  color: deeppink;
  cursor: pointer;
  text-decoration: none;
}

.navbar-light .navbar-brand,
.navbar-brand {
  margin: -4px 2rem 0 2rem !important;
  padding: 0.5rem 0;
}

.navbar-text {
  padding: 0.5rem 1rem !important;
}

.navbar-light .navbar-text {
  color: #dedeeb;
}

.centered {
  text-align: center;
}

.strength div div {
  height: 4px !important;
}

.bg-light {
  background-color: #eaf8fb !important;
  border-bottom: 1px dotted aquamarine;
}

.big {
  font-size: 5rem;
  color: #84a;
  margin: 0 0 -28px;
}

.navbar-light .navbar-text {
  color: #dedeeb;
  padding: 0.5rem 0.4rem !important;
  font-size: 0.8rem;
}

.navbar-collapse a,
.navbar-light .navbar-text a,
.navbar-collapse .span2 {
  font-weight: 400;
  padding: 0.5rem 1rem !important;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 0.85rem;
}

.navbar-light .navbar-text a {
  color: gold !important;
}

/*.navbar-light .navbar-text i,*/
.navbar-light .navbar-text .extra,
/*.navbar-collapse a i,*/
.navbar-collapse a .extra,
.navbar-collapse .span2 {
  display: none !important;
}

@media (min-width: 1200px) {
  .navbar-collapse a,
  .navbar-light .navbar-text a,
  .navbar-collapse .span2 {
    padding: 0.5rem 1rem !important;
    font-size: 0.9rem;
  }

  .navbar-light .navbar-text {
    padding: 0.5rem 1rem !important;
    font-size: 0.9rem;
  }

  /*.navbar-light .navbar-text i,*/
  .navbar-light .navbar-text .extra,
    /*.navbar-collapse a i,*/
    .navbar-collapse a .extra,
    .navbar-collapse .span2 {
    display: inline !important;
  }

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1200px !important;
  }

  .big {
    font-size: 5rem;
    padding-right: 20%;
    color: #84a;
    margin: 0 0 -28px;
  }
}

div.cardContainer {
  display: flex;
  justify-content: center;
}

.istok {
  font-family: "Istok Web" !important;
}

.white {
  color: #dedeeb !important;
}

.porpora {
  color: #763a66;
}

.porporino {
  color: #734981;
}

/*div.cardDiv {*/
/*    float: left;*/
/*    border: 1px solid #eeeeee;*/
/*    display: inline;*/
/*    padding: 19px;*/
/*    margin: 16px;*/
/*}*/

div.textBlock {
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 20px;
  border: 1px dashed #039;
  padding: 16px;
  color: #ffffff !important;
}

div.textBlock a,
div.textBlock .command {
  color: gold;
}

div.textBlock p,
div.textBlock h4,
div.textBlock h5,
div.textBlock h6,
div.textBlock li,
div.textBlock ul,
div.textBlock ol,
div.textBlock span,
div.textBlock div {
  color: #ffffff !important;
}

.textBlock,
.textBlock *:not(a):not(.command):not(span.istok) {
  color: #ffffff !important;
}

.textBlock a {
  color: gold !important;
}

.textBlock .command {
  color: gold !important;
}

/* Force white on all text elements */
.textBlock p,
.textBlock span:not(.istok),
.textBlock li,
.textBlock ul,
.textBlock ol,
.textBlock div:not(.license):not(.cc-license-icons),
.textBlock h1,
.textBlock h2,
.textBlock h3,
.textBlock h4,
.textBlock h5,
.textBlock h6 {
  color: #ffffff !important;
}

/* Bootstrap Col within textBlock */
.textBlock .col,
.textBlock [class*="col-"] {
  color: #ffffff !important;
}

.textBlock .col p,
.textBlock .col h4,
.textBlock .col h5,
.textBlock .col li,
.textBlock .col ul,
.textBlock .col span {
  color: #ffffff !important;
}

.noTokens {
  font-size: 2rem;
  width: 50%;
  padding-top: 100px;
  text-align: center;
}

.container {
  padding-right: 0;
  padding-left: 0;
  color: #ffffff !important;
}

.container p,
.container h1,
.container h2,
.container h3,
.container h4,
.container h5,
.container h6,
.container li,
.container ul,
.container ol,
.container span,
.container div {
  color: #ffffff !important;
}

/* Override Bootstrap Col text colors */
.col,
[class*="col-"] {
  color: #ffffff !important;
}

.col p,
.col h1,
.col h2,
.col h3,
.col h4,
.col h5,
.col h6,
.col li,
.col ul,
.col ol,
.col span:not(.istok),
.col div {
  color: #ffffff !important;
}

/* Override any Bootstrap text utility classes within our containers */
.textBlock .text-muted,
.textBlock .text-secondary,
.textBlock .text-dark,
.textBlock .text-light,
.credits .text-muted,
.credits .text-secondary,
.bio .text-muted,
.bio .text-secondary {
  color: #ffffff !important;
}

div.cardDiv div.title {
  padding-top: 9px;
  text-align: center;
  font-family: Roboto, sans-serif;
  /*font-size: 0.9rem;*/
}

div.cardDiv div.title a {
  color: white;
}

div.cardDiv.single {
  width: 95%;
  background: #002;
  border: 5px solid #3e0831;
  color: #ffffff !important;
}

div.cardDiv {
  float: left;
  display: inline;
  border: 4px solid #440033;
  padding: 12px;
  margin: 7px 0 7px 9px;
  width: 46%;
  border-radius: 16px;
  background: black;
  color: #ffffff !important;
}

.cardBody {
  color: #ffffff !important;
}

.cardBody p,
.cardBody h1,
.cardBody h2,
.cardBody h3,
.cardBody h4,
.cardBody h5,
.cardBody div {
  color: #ffffff !important;
}

div.cardDiv.largevideo {
  width: 95%;
}

.smallvideo {
  width: 100%;
}

.noMobile {
  display: none;
}

.justify-content-end {
  display: none;
}

.splitter {
  display: block;
  height: 12px;
}

.splitter2 {
  display: block;
  height: 6px;
}

/* Mobile styles for navbar links - overridden by desktop styles below */
@media (max-width: 1199px) {
  .navbar-collapse a,
  .navbar-light .navbar-text a,
  .navbar-collapse .span2 {
    border: 1px solid #226;
    border-radius: 6px;
    margin-right: 7px;
    background-color: #003;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}



.bg-dark {
  background-color: #000000 !important;
  border-bottom: black !important;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1400px !important;
  }
}

@media (min-width: 796px) {
  .bg-dark {
    background-color: #000000 !important;
  }

  .navbar-collapse a,
  .navbar-light .navbar-text a,
  .navbar-collapse .span2 {
    border: none;
    border-radius: 0;
    margin-right: 0;
    margin-left: 1rem;
    background-color: transparent;
    padding: 0.5rem 1.5rem !important;
  }

  .splitter,
  .splitter2 {
    display: none;
  }

  .justify-content-end {
    display: block;
  }

  .noMobile {
    display: inline;
    font-size: 85% !important;
  }

  .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  div.cardDiv {
    padding: 19px;
    margin: 16px;
    width: 240px;
    border-radius: 20px;
  }

  div.cardDiv.smallvideo {
    height: 271px;
  }

  div.cardDiv.single {
    width: 420px;
  }

  div.cardDiv.smallvideo img {
    margin-bottom: 5px;
  }

  div.cardDiv.largevideo {
    width: 758px;
  }

  .smallvideo {
    width: 240px;
  }

  .footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
  }
}

.tworem {
  font-size: 1.3rem;
}

small.error {
  color: crimson !important;
}

.m0Auto {
  margin: 0 auto;
}

.paglia {
  color: blueviolet;
  padding-left: 37px;
}

img.oil {
  width: 22%;
  margin: 4px;
}

.item {
  margin: 0 8px;
}

.credits {
  color: #ffffff !important;
}

.credits p,
.credits h4,
.credits h5,
.credits li,
.credits ul,
.credits span {
  color: #ffffff !important;
}

.bio {
  color: #ffffff !important;
}

.bio p,
.bio h4,
.bio h5,
.bio li,
.bio ul,
.bio span {
  color: #ffffff !important;
}

.roboto {
  font-family: "Roboto", sans-serif !important;
}

.largerp {
  font-size: 1.2rem;
}

.alice {
  font-family: "Alice" !important;
}

.webcam-capture video {
  width: 100%;
}

button {
  font-family: Roboto, sans-serif;
}

div.subtitle {
  /*background: #000;*/
  width: 100%;
  text-align: center;
  padding-top: 42px;
  margin-bottom: 24px;
  /*border-bottom: 1px dashed #309;*/
  padding-bottom: 2px;
  color: white;
}

div.subtitle.transparent {
  background: transparent !important;
}

div.subtitle div {
  font-size: 0.9rem;
  padding-bottom: 6px;
}

@media (min-width: 1200px) {
  div.subtitle {
    padding-top: 64px;
  }
}

img.cover {
  border: 1px solid darkblue;
  border-radius: 8px;
  width: 100%;
}

.footer {
  color: white;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 8px 0;
}

a.cyan {
  color: #007bff !important;
}

.spacer {
  display: block;
  height: 12px;
}

.cc-license-icons img {
  width: 21px;
  margin: 0 2px;
}

.claiming {
  font-size: 0.9rem;
  margin: 50px 0 12px;
  color: rgb(168, 71, 178);
}

span code {
  font-size: 0.9rem;
}

span.button {
  border: 1px solid #007bff;
  padding: 0 4px;
  background: #332266;
  border-radius: 4px;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("../images/menu.png") !important;
}

.notConnected {
  color: orangered;
}

.isMine {
  position: relative;
  display: block;
  color: gold;
  border-radius: 6px;
  border: 1px solid #830;
  float: right;
  z-index: 2;
  font-size: 80%;
  padding: 0 4px;
  margin: -11px;
  background: #220;
}

.ttype {
  border-color: #64c;
  background: #014;
  color: #def;
}

.roundedIn {
  border: 1px solid #007bff;
  background: #332266;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 18px;
}

.instructionSteps li {
  margin-bottom: 12px;
}
