/*.bd-placeholder-img {*/
/*    font-size: 1.125rem;*/
/*    text-anchor: middle;*/
/*    -webkit-user-select: none;*/
/*    -moz-user-select: none;*/
/*    -ms-user-select: none;*/
/*    user-select: none;*/
/*}*/

/*@media (min-width: 768px) {*/
/*    .bd-placeholder-img-lg {*/
/*        font-size: 3.5rem;*/
/*    }*/
/*}*/

/*main > .container {*/
/*    padding: 60px 15px 0;*/
/*}*/


body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #0B1122;
    font-family: 'Alice', 'Roboto', sans-serif;
    font-weight: 300;
    background: url(../images/background.png) repeat-y;
}

.imageLogo {
    display: block;
    z-index: 1;
    top: 0;
    left: 0;
    position: absolute;
    height: 56px;
}

.command, a {
    color: #17AFD0;
    cursor: pointer;
}

.footer {
    border-top: 1px dotted #ddd;
    text-align: center;
    padding-top: 12px;
    color: #888;
}

.footer * {
    margin: 0 5px;
}

.footer a {
    color: #888;
}

.footer a:hover {
    color: #000;
}

.navbar-collapse a {
    font-weight: 400;
    padding: .5rem 1rem !important;
}

.navbar-light .navbar-brand {
    margin-top: -4px;
}

.navbar-text {
    padding: .5rem 1rem !important;
}

.centered {
    text-align: center;
}

.strength div div {
    height: 4px !important;
}

.bg-light {
    background-color: #EAF8FB !important;
    border-bottom: 1px dotted aquamarine;
}

.big {
    font-size: 5rem;
    color: #84a;
    margin: 0 0 -28px;
}


@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1400px !important;
    }

    .big {
        font-size: 5rem;
        padding-right: 20%;
        color: #84a;
        margin: 0 0 -28px;
    }

}

div.cardContainer {
    display: flex;
    justify-content: center;
}

div.cardDiv {
    float: left;
    border: 1px solid #eeeeee;
    display: inline;
    padding: 19px;
    margin: 16px;
}

div.cardDiv div.title {
    padding-top: 9px;
    text-align: center;
    font-size: 1.1rem;
}

.video-react .video-react-big-play-button {
    border: 0.06666em solid #326 !important;
    width: 2em !important;
}

.noTokens {
    font-size: 2rem;
    width: 500px;
    padding-top: 100px;
}

div.cardDiv.single {
    border: none;
    /*float: none;*/
    /*display: block;*/
    /*margin: 0 auto;*/
}

.tworem {
    font-size: 1.3rem;
}

small.error {
    color: crimson !important;
}

.m0Auto {
    margin: 0 auto;
}

.paglia {
    color: blueviolet;
    padding-left: 37px;
}

img.oil {
    width: 150px;
    margin: 4px;
}

.item {
    margin: 0 8px;
}

.credits {
    /*color: indigo;*/
}

.bio {
    /*color: indigo;*/
}

.roboto {
    font-family: 'Roboto', sans-serif !important;
}

.largerp {
    font-size: 1.2rem;
}

.alice {
    font-family: 'Alice' !important;
}
